# -*- coding: utf-8 -*-

# Define here the models for your spider middleware
#
# See documentation in:
# http://doc.scrapy.org/en/latest/topics/spider-middleware.html


class ${ProjectName}SpiderMiddleware(object):
    # This method is called for each response that goes through the
    # spider middleware and into the spider, for processing.

    def process_spider_input(response, spider):
        # Called for each response that goes to spider
        pass

    def process_spider_output(response, result, spider):
        # Called for each response with the spider results
        pass

    def process_spider_exception(response, exception, spider):
        # Called whenever a spider raises an exception
        pass
