# -*- coding: utf-8 -*-

# Define here the models for your spider middleware
#
# See documentation in:
# http://doc.scrapy.org/en/latest/topics/spider-middleware.html

from scrapy import signals
from scrapy.spidermiddlewares import SpiderMiddleware


class ${ProjectName}SpiderMiddleware(SpiderMiddleware):
    pass