# https://docs.scrapy.org/en/latest/topics/settings.html

BOT_NAME = "$project_name"

SPIDER_MODULES = ["$project_name.spiders"]
NEWSPIDER_MODULE = "$project_name.spiders"

# Crawl responsibly by identifying yourself (and your website) through the
# User-Agent header:
#USER_AGENT = "$project_name (+https://your-domain.example)"

# Obey robots.txt rules:
ROBOTSTXT_OBEY = True

# Throttle crawls to be polite to websites:
CONCURRENT_REQUESTS_PER_DOMAIN = 1
DOWNLOAD_DELAY = 1

# Crawl the tutorial websites faster, overriding the polite defaults above only
# for these domains (remove this once you crawl your own sites):
THROTTLING_SCOPES = {
    "books.toscrape.com": {"concurrency": 16, "delay": 0.1},
    "quotes.toscrape.com": {"concurrency": 16, "delay": 0.1},
}

# Set settings whose default value is deprecated to a future-proof value:
FEED_EXPORT_ENCODING = "utf-8"
