# https://docs.scrapy.org/en/latest/topics/settings.html

BOT_NAME = "$project_name"

SPIDER_MODULES = ["$project_name.spiders"]
NEWSPIDER_MODULE = "$project_name.spiders"

# Crawl responsibly by identifying yourself (and your website) through the
# User-Agent header:
#USER_AGENT = "$project_name (+https://your-domain.example)"

# Set settings whose default value is deprecated to a future-proof value:
FEED_EXPORT_ENCODING = "utf-8"
