[flake8]

max-line-length = 119
ignore = W503, E203

exclude =
    docs/conf.py

per-file-ignores =
# Exclude files that are meant to provide top-level imports
# E402: Module level import not at top of file
# F401: Module imported but unused
    scrapy/__init__.py:E402
    scrapy/core/downloader/handlers/http.py:F401
    scrapy/http/__init__.py:F401
    scrapy/linkextractors/__init__.py:E402,F401
    scrapy/selector/__init__.py:F401
    scrapy/spiders/__init__.py:E402,F401

    # Issues pending a review:
    scrapy/utils/url.py:F403,F405
    tests/test_loader.py:E741
