/.vagrant
/scrapy.iml
*.pyc
_trial_temp*
dropin.cache
docs/build
*egg-info
.tox
venv
build
dist
.idea
htmlcov/
.coverage
.pytest_cache/
.coverage.*
coverage.*
test-output.*
.cache/
.mypy_cache/
/tests/keys/localhost.crt
/tests/keys/localhost.key
scraped_content_www_computerweekly_com
scraped_content
scraped_content_acceleratelearning_stanford_edu
# Windows
Thumbs.db
scraped_content_resources_github_com
# OSX miscellaneous
.DS_Store