repos:
- repo: https://github.com/PyCQA/bandit
  rev: 1.7.4
  hooks:
  - id: bandit
    args: [-r, -c, .bandit.yml]
- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
- repo: https://github.com/PyCQA/pylint
  rev: v2.15.6
  hooks:
  - id: pylint
    args: [conftest.py, docs, extras, scrapy, setup.py, tests]
- repo: https://github.com/psf/black.git
  rev: 22.12.0
  hooks:
  - id: black
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort 
