repos:
- repo: https://github.com/PyCQA/bandit
  rev: 1.7.9
  hooks:
  - id: bandit
    args: [-r, -c, .bandit.yml]
- repo: https://github.com/PyCQA/flake8
  rev: 7.1.0
  hooks:
  - id: flake8
    additional_dependencies:
    - flake8-bugbear
    - flake8-comprehensions
    - flake8-debugger
    - flake8-docstrings
    - flake8-string-format
    - flake8-type-checking
- repo: https://github.com/psf/black.git
  rev: 24.4.2
  hooks:
  - id: black
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
  - id: isort
- repo: https://github.com/adamchainz/blacken-docs
  rev: 1.18.0
  hooks:
  - id: blacken-docs
    additional_dependencies:
    - black==24.4.2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.18.0
  hooks:
  - id: pyupgrade
    args: [--py39-plus]
