repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.1
  hooks:
    - id: ruff
      args: [ --fix ]
- repo: https://github.com/psf/black.git
  rev: 24.4.2
  hooks:
  - id: black
- repo: https://github.com/adamchainz/blacken-docs
  rev: 1.18.0
  hooks:
  - id: blacken-docs
    additional_dependencies:
    - black==24.4.2
