language: python
env:
    TRAVISBUG="#1027"
matrix:
    exclude:
        - env: TRAVISBUG="#1027"
    include:
        - python: "2.7"
          env: BUILDENV=precise
        - python: "2.7"
          env: BUILDENV=latest
        - python: "2.7"
          env: BUILDENV=trunk
        - python: "pypy"
          env: BUILDENV=latest
    allow_failures:
        - python: "pypy"
          env: BUILDENV=latest
install:
    - pip install --use-mirrors -r .travis/requirements-$BUILDENV.txt
    - pip install --use-mirrors .
script:
    - trial scrapy
notifications:
    irc:
        channels:
            - "irc.freenode.org#scrapy"
        use_notice: true
        skip_join: true
