language: python
python:
    - 2.6
    - 2.7
env:
    - BUILDENV=lucid
    - BUILDENV=precise
    - BUILDENV=latest
install:
    - pip install --use-mirrors -r .travis/requirements-$BUILDENV.txt
script:
    - trial scrapy
branches:
    only:
        - master
        - /^[0-9].*$/
notifications:
    irc:
        channels:
            - "irc.freenode.org#scrapy"
        use_notice: true
        skip_join: true
