parsel>=1.5.0
PyDispatcher>=2.0.5
w3lib>=1.17.0
protego>=0.1.15

pyOpenSSL>=16.2.0       # Earlier versions fail with "AttributeError: module 'lib' has no attribute 'SSL_ST_INIT'"
queuelib>=1.4.2,<1.6.0  # Earlier versions fail with "AttributeError: '...QueueTest' object has no attribute 'qpath'"
                        # Greater versions implement peek support, which breaks tests.
cryptography>=2.0       # Earlier versions would fail to install

# Reference versions taken from
# https://packages.ubuntu.com/xenial/python/
# https://packages.ubuntu.com/xenial/zope/
cssselect>=0.9.1
lxml>=3.5.0
service_identity>=16.0.0
six>=1.10.0
Twisted>=16.0.0,<21.2.0  # >=21.2.0 causes https://github.com/scrapy/scrapy/issues/5020
zope.interface>=4.1.3,<5  # >=5 requires https://github.com/scrapy/scrapy/commit/532cd1d93ed58f038346ca6b753462563c85b489
