# Tests requirements
jmespath
leveldb; sys_platform != "win32"
pytest
pytest-cov
pytest-twisted
pytest-xdist
testfixtures

# optional for shell wrapper tests
bpython
brotlipy
ipython
pywin32; sys_platform == "win32"
