#content.admin h1 { float: left; }

#tabs { background: #f7f7f0; border: 1px solid black;
  border-color: #ccc #666 #666 #ccc; clear: left;
  margin: 1em 0 2em; padding: .5em 0 0; float: left; width: 12em;
}
#tabs ul { list-style: none; margin: 0 0 .5em; padding: 0; }
#tabs li { color: #999; font-size: 90%; font-weight: bold; margin: 0;
  padding: 0.1em 5px;
}
#tabs li li { color: #000; font-size: 110%; font-weight: normal;
  margin: 0 -3px; padding: 1px 0 1px 10px;
}
#tabs li li.active { background: #ddc; border: 1px solid;
  border-color: #ccc #000 #666 #ccc; padding: 0 0 0 9px;
}
#tabs :link, #tabs :visited { border: none; display: block }
#tabs :link:hover, #tabs :visited:hover { background: transparent;
  color: #000;
}

#tabcontent { padding: 0.4em 2em; margin-left: 12em; min-height: 300px; }
#tabcontent h2 { color: #333; margin-top: 0; }
p.help { color: #666; font-size: 90%; margin: 1em .5em .5em; }

#enumlist tbody td { vertical-align: middle; }

form.addnew { clear: right; float: right; margin: -2em 0 4em; width: 33% }
form.mod { margin-top: 1em; }
form.mod .field { margin: .5em 0; }
form .field em { color: #888; font-size: smaller }
form .field .disabled em { color: #d7d7d7 }

table.listing { clear: none; width: 64% }
table.listing .sel, table.listing .default { text-align: center; width: 1% }

/* Plugins panel */
form#addplug { width: 35% }
.plugin { background: #f7f7f7; border: 1px solid #d7d7d7; margin: 0 0 2em;
  padding: 2px .5em; text-align: left; width: 60%;
}
.plugin h3 { margin: .5em 0; color: #bb0000;}
.plugin h3 a { 
 padding: 2px .5em; text-align: left; width: 60%;
}
.plugin h3 a { background: url(../expanded.png) 0 50% no-repeat;
 padding-left: 16px;
}
.collapsed h3 a { background-image: url(../collapsed.png); }
.plugin .buttons { margin-top: 0; text-align: right }
.plugin .uninstall { margin-top: -2.6em; padding: 0 }
.plugin .summary, .plugin .info { color: #999; font-size: 80%;
  padding-left: 16px;
}
.plugin .summary { margin: -.5em 0 .5em }
.plugin .info { margin: 1em 0 .5em; }
.plugin .info dt { float: left; width: 7em; }
.plugin .info dd { padding: 0; margin: 0; }
.plugin .listing { width: 100% }
.collapsed .info, .collapsed .listing, .collapsed .update { display: none }
.plugin .listing td { background: #fff }
.plugin .listing .name p { color: #999; font-size: 80%; margin: 0 }

/* Perm Panel */
#permlist div { width: 13em; float: left; }
fieldset tr.field th { text-align: right; }
