#prefs { margin-top: -0.6em }
* html #prefs { width: 34em } /* Set width only for IE */
#prefs fieldset { margin: 0; }
#prefs fieldset label { display: block }
#prefs .buttons { margin-top: -2.3em }
#prefs .choice { 
 float: left; 
 margin: 0 .6em 0 .3em;
 border-right: 1px dotted #d7d7d7;
}

#file-legend { margin-top: 3em; }

/* Browser */
h1 { margin: 0; padding: 0 0 .5em }
h1 :link, h1 :visited, h1 .filename { border: none; padding: 0 .2em }
h1 :link, h1 :visited { color: #b00 }
h1 .first:link, h1 .first:visited { color: #998 }
h1 .sep { color: #666; padding: 0 .1em }
h1 .pathentry { float: left }

#jumprev, #jumploc { float: right; font-size: 10px; margin: 0 0 0.6em }
#jumprev form, #jumploc form { margin: 0 }
#jumprev input, #jumploc select, #jumploc input { 
  font-size: 10px; 
  margin: 0; 
}
#jumploc div.buttons { margin: 0;}
#jumploc { margin-right: 2em;}

/* Browser file annotations */
table.code th.blame { width: 5em; }
table.code th.blame a { color: #ddd; }

div.message { 
  background: #f7f7f0;
  border: 3px double #d7d7d7;
  margin: 0;
  padding: 8px; 
  /* Note: border width and padding must be compensated for in the placement */
}

div.message div.inlinebuttons { float: right;  }

/* Styles for the directory entries table
   (extends the styles for "table.listing") */
#dirlist { margin-top: 0 }
#dirlist td.rev, #dirlist td.age, #dirlist td.change {
 color: #888;
 white-space: nowrap;
 vertical-align: baseline;
}
#dirlist td.rev {
 font-family: monospace;
 letter-spacing: -0.08em;
 font-size: 90%;
 text-align: right;
}
#dirlist td.size {  
 color: #888;
 white-space: nowrap;
 text-align: right;
 vertical-align: middle;
 font-size: 70%;
}
#dirlist td.age {
 border-width: 0 2px 0 0;
 border-style: solid;
 font-size: 85%;
}
#dirlist td.name { width: 100% }
#dirlist td.name a, #dirlist td.name span {
 background-position: 0% 50%;
 background-repeat: no-repeat;
 padding-left: 20px;
}
#dirlist td.name a.parent { background-image: url(../parent.png) }
#dirlist td.name div { white-space: pre }
#dirlist tr span.expander { 
  background-image: url(../expander_normal.png); 
  cursor: pointer; 
  padding-left: 8px; 
  margin-left: 4px; 
}
#dirlist tr span.expander:hover { 
  background-image: url(../expander_normal_hover.png); 
}
#dirlist tr.expanded span.expander { 
  background-image: url(../expander_open.png); 
  padding-left: 12px; 
  margin-left: 0; 
}
#dirlist tr.expanded span.expander:hover { 
  background-image: url(../expander_open_hover.png); 
}
#dirlist td.name a.dir { background-image: url(../folder.png) }
#dirlist td.name a.file { background-image: url(../file.png); display: block }
#dirlist td.name a, #dirlist td.rev a { border-bottom: none }
#dirlist td.rev { text-align: right }
#dirlist td.change { 
  font-size: 85%; 
  vertical-align: middle; 
  white-space: nowrap 
}

#dirlist td span.loading { 
  background-image: url(../loading.gif); 
  font-style: italic 
}

/* Style for the ''View Changes'' button and the diff preparation form */
#anydiff { margin: 0 0 1em; float: left }
#anydiff form, #anydiff div, #anydiff h2 { display: inline }
#anydiff form th { text-align: right }
#anydiff input {  vertical-align: baseline; margin: 0 -0.5em 0 1em }
@media print {
 #anydiff form { display:  none }
}

/* Log */
tr.diff input { padding: 0 1em; margin: 0 }

@media print { 
 th.diff, td.diff { display: none }
}

/* Styles for the revision log table (extends the styles for "table.listing") */
#chglist { margin-top: 0 }
#chglist td.change span { 
 border: 1px solid #999;
 display: block;
 margin: .2em .5em 0 0;
 width: .8em; height: .8em;
}
#chglist td.diff { white-space: nowrap }
#chglist td.change .comment { display: none }
#chglist td.old_path { font-style: italic }
#chglist td.date {
 font-size: 85%;
 vertical-align: top;
 padding-top: 0.55em;
 white-space: nowrap;
}
#chglist td.author { font-size: 85%; vertical-align: top; padding-top: 0.55em }
#chglist td.rev, #chglist td.chgset { 
 font-family: monospace;  
 letter-spacing: -0.08em;
 font-size: 90%;
 text-align: right; 
}
#chglist td.rev a, #chglist td.chgset a { border-bottom: none }
#chglist td.summary { 
 width: 100%; 
 font-size: 85%; 
 vertical-align: middle; 
 white-space: nowrap;
}
#chglist tr.verbose td.summary {
 border: none;
 color: #333;
 padding: .5em 1em 1em 2em;
 white-space: normal;
}

#chglist td.summary * { margin-top: 0 }

#paging { margin: 1em 0 }

/* Styles for the revision info in the file view (see also trac.css) */
#info { margin: 0; }
#info .props {
 color: #666;
 list-style: square;
 margin: 0 0 .4em 1.6em;
 padding: 0;
}
#info .props li { padding: 0; overflow: auto; }

/* Styles for the HTML preview */
#preview { background: #fff; clear: both; margin: 0 }
#preview .code-block { border-top: 1px solid #999; margin: 0 }
#preview .image-file { overflow: hidden }
#preview .image-file img { max-width: 100% }
