/* Timeline */

* html #prefs { width: 34em } /* Set width only for IE */
#prefs fieldset label { display: block }
#prefs .buttons { margin-top: -1.6em }

h2 {
 background: #f7f7f7;
 border-bottom: 1px solid #d7d7d7;
 font-size: 105%;
 margin: 2em 0 .5em;
}
dl { line-height: 1.3em; margin-left: 1em }
dt { background: 3px 4px no-repeat; padding: 0 }
dt :link, dt :visited {
 background: 3px 3px no-repeat;
 border: none;
 color: #000;
 padding: 0 4px 2px 22px;
}
dt>:link, dt>:visited {
 /* Hide from IE/Win */
 background-position: 3px 4px;
}
dt :link:hover, dt :visited:hover { background-color: #eed; color: #000 }
dt em {
 border-bottom: 1px dotted #bbb;
 color: #b00;
 font-style: normal;
 text-decoration: none;
}
dt .time { color: #999; font-size: 80%; }
dt .author { color: #666; }
dt.highlight { background-color: #ffa; } 
dd { 
 font-size: 80%;
 margin: 0 0 .75em 5.5em;
 padding: 0;
 color: #776;
}

/* Apply icon background-image twice to avoid hover-flicker in IE/Win */
dt.changeset, dt.changeset a { background-image: url(../changeset.png) !important }
dt.newticket, dt.newticket a { background-image: url(../newticket.png) !important }
dt.reopenedticket, dt.reopenedticket a { background-image: url(../newticket.png) !important }
dt.editedticket, dt.editedticket a { background-image: url(../editedticket.png) !important }
dt.closedticket, dt.closedticket a { background-image: url(../closedticket.png) !important }
dt.wiki, dt.wiki a { background-image: url(../wiki.png) !important }
dt.milestone, dt.milestone a { background-image: url(../milestone.png) !important }
dt.attachment, dt.attachment a { background-image: url(../attachment.png) !important }

/* styles for the 'changeset_long_messages' option */
dd.changeset p { margin: 0; padding: 0 }
dd.changeset ul { padding-left: 15px; }

/* Styles for the 'changeset_show_files' option */
dd.changeset .changes { color: #aaa; font-size: 90%; }
dd.changeset ul.changes { 
 padding-left: 0;
 list-style-type: none;
}
dd.changeset .changes li div {
 border: 1px solid #999;
 float: left;
 margin: .5em .5em 0 0;
 overflow: hidden;
 width: .8em; height: .8em;
}
dd.changeset .changes li span { 
 float: left;
 margin-right: .8em;
}
dd.changeset .changes .add     { background: #bfb }
dd.changeset .changes .delete  { background: #f88 }
dd.changeset .changes .edit    { background: #fd8 }
dd.changeset .changes .copy    { background: #88f }
dd.changeset .changes .move    { background: #ccc }
