# -*- coding: utf8 -*-
from scrapy.contrib.spiders import XMLFeedSpider
from $project_name.items import ${ProjectName}Item

class $classname(XMLFeedSpider):
    domain_name = '$site'
    start_urls = ['http://www.$site/feed.xml']

    def parse_item(self, response, xSel):
        i = ${ProjectName}Item()
        #i.url = xSel('url'.extract()
        #i.name = xSel('name').extract()
        #i.description = xSel('description').extract()
        return i

SPIDER = $classname()
