# -*- coding: utf8 -*-
from decobot.common.spiders import DecobotCSVFeedSpider

class $classname(CSVFeedSpider):
    domain_name = "$site"
    start_urls = ['http://www.$site/feed.csv']
    # headers = ['id', 'name', 'description', 'image_link']
    # delimiter = '\t'

    # Do any adaptations you need here
    #def adapt_response(self, response):
    #    return response

    def parse_row(self, response, row):
        p = self.create_product(response)
        #p.attribute("site_id", row["id"])
        #p.attribute("supplier", self.domain_name)
        #p.attribute("name", row["name"])
        #p.attribute("description", row["description"])
        #p.attribute("image_urls", row["image_link"])
        return p

SPIDER = $classname()
