# -*- coding: utf8 -*-
from scrapy.xpath import HtmlXPathSelector
from scrapy.contrib.spiders import XMLFeedSpider

class $classname(XMLFeedSpider):
    domain_name = "$site"
    start_urls = ['http://www.$site/feed.xml']

    def parse_item(self, response, xSel):
        p = self.create_product(response)
        #p.attribute('url', xSel(""))
        #p.attribute('supplier', self.domain_name)
        #p.attribute('site_id', xSel(""))
        #p.attribute('name', xSel(""))
        #p.attribute('description', xSel(""))
        #p.attribute('image_urls', xSel(""))
        #p.attribute('price', xSel(""))
        #p.attribute('dimensions', xSel(""))
        return p

SPIDER = $classname()
