# -*- coding: utf8 -*-
from scrapy.contrib.spiders import CSVFeedSpider
from $project_name.items import MyItem

class $classname(CSVFeedSpider):
    domain_name = '$site'
    start_urls = ['http://www.$site/feed.csv']
    # headers = ['id', 'name', 'description', 'image_link']
    # delimiter = '\t'

    # Do any adaptations you need here
    #def adapt_response(self, response):
    #    return response

    def parse_row(self, response, row):
        i = MyItem()
        #i.attribute('url', row['url'])
        #i.attribute('name', row['name'])
        #i.attribute('description', row['description'])
        return i

SPIDER = $classname()
