Source: scrapy-SUFFIX
Section: python
Priority: optional
Maintainer: Scrapinghub Team <info@scrapinghub.com>
Build-Depends: debhelper (>= 7.0.50), python (>=2.7), python-twisted, python-w3lib, python-lxml, python-six (>=1.5.2)
Standards-Version: 3.8.4
Homepage: http://scrapy.org/

Package: scrapy-SUFFIX
Architecture: all
Depends: ${python:Depends}, python-lxml, python-twisted, python-openssl,
 python-w3lib (>= 1.8.0), python-queuelib, python-cssselect (>= 0.9), python-six (>=1.5.2)
Recommends: python-setuptools
Conflicts: python-scrapy, scrapy, scrapy-0.11
Provides: python-scrapy, scrapy
Description: Python web crawling and scraping framework
 Scrapy is a fast high-level screen scraping and web crawling framework, 
 used to crawl websites and extract structured data from their pages. 
 It can be used for a wide range of purposes, from data mining to 
 monitoring and automated testing.
