import scrapy
from scrapy.http import HtmlResponse


class $classname(scrapy.Spider):
    name = "$name"
    allowed_domains = ["$domain"]
    start_urls = ["$url"]

    def parse(self, response: HtmlResponse, **kwargs):
        pass
