from scrapy.contrib.spiders import XMLFeedSpider
from $project_name.items import ${ProjectName}Item

class $classname(XMLFeedSpider):
    domain_name = '$site'
    start_urls = ['http://www.$site/feed.xml']

    def parse_item(self, response, selector):
        i = ${ProjectName}Item()
        #i['url'] = selector.select('url').extract()
        #i['name'] = selector.select('name').extract()
        #i['description'] = selector.select('description').extract()
        return i

SPIDER = $classname()
