#!/usr/bin/env python

import os, sys

# hack to avoid using chardet which hits performance very badly
sys.modules['chardet'] = None

# to avoid (write) permission problems with images, cache, etc
#os.umask(0002)

SCRAPING_TRUNK = os.environ.get('SCRAPING_TRUNK', os.environ.get('PWD') + '/..')

try:
    import __project_name__
except:
    sys.path.append(SCRAPING_TRUNK)

try:
    import scrapy_settings
except:
    sys.path.append('%s/__project_name__/conf' % SCRAPING_TRUNK)

from scrapy.command.cmdline import execute
execute()